<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h4><%= list.name %></h4>

      <hr>

     <h1>Items</h1>
       <ul class="list-group">
         <% list.items.forEach((item) => { %>
           <li class="list-group-item">
             <a href="/lists/<%= item.listId %>/items/<%= item.id %>"> <%= item.name %> </a>
             <form action="/lists/<%= item.listId %>/items/<%= item.id %>/update" method="post">
               <div class="form-group">
                 <input value="<%= item.name %>" type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Item">
                 <small class="text-muted" id="nameHelp">name must be 2 or more characters in length.</small>
               </div>
               <button type="submit" class="btn btn-primary">Edit</button>
             </form>
             <form style="display:initial" action="/lists/<%= item.listId %>/items/<%= item.id %>/destroy" method="post">
               <button type="submit" class="btn btn-danger">Delete</button>
             </form>
           </li>
         <% }) %>
       </ul>
       <form action="/lists/<%= list.id %>/items/create" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Item name">
          <small class="text-muted" id="nameHelp">name must be 2 or more characters in length.</small>
        </div>
        <button type="submit" class="btn btn-primary">Add Item</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
